  /* CSS for screens between 601px and 1024px (small tablets, landscape mode) */
  @media (min-width: 601px) and (max-width: 1549px) {
      * {
          font-family: 'Montserrat', sans-serif;
      }

      .wrapper {
          margin: 0 auto;
      }

      body {
          padding-left: 10%;
          padding-right: 10%;
      }

      .font-resizable-70px {
          font-size: 50px;
          margin: 0;
      }

      h1 {
          font-family: 'Montserrat', sans-serif;
          font-size: 40px;
      }

      p {
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
      }

      .flex-introduction {
          margin: 0 auto;
          padding-top: 100px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          margin-bottom: 15%;
      }

      .flex-introduction-item {
          max-width: 100%;
          margin: 0 auto;
      }

      .flex-introduction-image {
          max-width: 100%;
          margin: 0 auto;
      }

      .flex-reviews {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 100px;
          margin: 0 auto;
          text-align: center;
      }

      .flex-reviews-left {
          display: flex;
          max-width: 100%;
          justify-content: space-evenly;
          margin: 0 auto;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 10%;
      }

      .flex-reviews-left-item {
          flex-direction: column;
          max-width: 100%;
      }

      .flex-reviews-right {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 5%;
      }

      .flex-reviews-fiverr-image {
          max-width: 35%;
          margin: 0 auto;
      }

      .flex-reviews-youtube-image {
          max-width: 35%;
          margin: 0 auto;
      }

      .flex-contact {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }

      .flex-contact-left {
          width: 100%;
          padding-top: 50px;
          padding-right: 10%;
      }

      .flex-contact-right {
          width: 50%;
      }

      .flex-contact-form-emailname {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          object-fit: cover
      }

      .flex-contact-form-emailname-item {
          object-fit: cover;
      }

      .button {
          padding: 15px;
          background: #99C5BE;
          border-radius: 8px;
          color: #111827;
          border: 2px solid #99C5BE;
      }
  }