/* CSS for screens below 779px (mobile) */
@media (max-width: 779px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
  }

  .header {
    max-height: 0;
    visibility: hidden;
  }

  .header-logo {
    font-size: 24px;
    padding-right: 25px;
    padding-left: 10px;
    margin-right: auto;
  }

  .header-links {
    visibility: hidden;
  }




  .flex-introduction-wrapper {
    color: white;
    padding: 5% 10px 15%;
    background: url(../images/forest.webp);
    background-size: cover;
    margin-bottom: 100px;
  }

  .flex-introduction-innercontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }

  .flex-introduction-item {
    max-width: 90%;
    padding: 10px;
  }



  .service-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    margin-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
  }

  .service-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .service-sub-container>a {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .service-sub-element {
    padding-left: 10px;
    padding-right: 10px;
  }

  .service-sub-element>p {
    font-size: 16px;
    line-height: 1.6;
  }

  .flex-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .flex-contact-left {
    width: 90%;
  }

  .flex-contact-right {
    width: 90%;
  }

  .flex-contact-form-emailname {
    display: flex;
    flex-direction: column;
  }
}